@charset"utf-8";
Body{
    background-color: #cc3000;
    font-family: Arial, Tahoma, SansSerif, "Old English Text MT";
    color: #000000;
}

h1{
    color: #ffffff;
    font-family: "Old English Text MT";
}

h2{
    text-align: center;
    color: #000000;
}

header{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    width: 80%;
    margin-left: 10%
}

#container{
    width: 100%;
}

nav {
    color: #000000;
    padding: 5px;
    padding-bottom: 20px;
    width: 100%;
    margin:auto;
    font-weight: bold;
    border-radius: 0px;
    text-align: center;
}

nav ul{
    display: inline-block;
    text-align: center;
    list-style:none;
    margin:auto;
}

nav ul li{
    float: left;
    padding: 5px;
}

nav ul li a:link, nav ul li a:visited{
    display: block;
    width: 150px;
    margin-right: 2px;
    color: #000000;
    padding: 3px 5px 3px 5px;
    background-color: #ffffff;
    text-decoration: none;
    font-family: "Old English Text MT";
    font-size: larger;
}

nav ul li a:hover{
    color: #111111;
    background-color: burlywood;
}

main{
    font-family: Arial, Tahoma, SansSerif;
    color: #000000;}
table{
    width: 1300px;}
th, td {
    padding: 7px 10px 10px 10px;}
th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 98%;
    border-bottom: 2px solid #111111;
    border-top: 1px solid #111111;
    text-align: left;}

td {
    border: 1px solid #111111;
    padding: 15px;}

.one {
    empty-cells: hide;}
.color1 {
    background-color: #deb887;
}

.color2 {
    background-color: #deb887;
}

.color3 {
    background-color: #deb887;
}

form{
    Background-color: #deb887;
    padding:5px 5px 5px 5px;
    border-top: 2px solid#111111;
    border-bottom: 2px solid#111111;
    border-left: 2px solid#111111;
    border-right: 2px solid#111111;
}
